{{#layout}}
<div class="html-code">
	<a class="popup-modal" href="#test-modal">Open modal</a>
	<div id="test-modal" class="mfp-hide white-popup-block">
		<h1>Modal dialog</h1>
		<p>You won't be able to dismiss this by usual means (escape or
			click button), but you can close it programatically based on user
			choices or actions.</p>
		<p>
			<a class="popup-modal-dismiss" href="#">Dismiss</a>
		</p>
	</div>
</div>
{{/layout}}
<script type="text/javascript">
	$(function() {
		$('.popup-modal').magnificPopup({
			type : 'inline',
			preloader : false,
			modal : true
		});
		$(document).on('click', '.popup-modal-dismiss', function(e) {
			e.preventDefault();
			$.magnificPopup.close();
		});
	});
</script>