{{#layout}}
<h2>User</h2>
<div class="text-right">
	<form class="form-inline" role="form">
		<label for="pwd2" class="mb-2 mr-sm-2">Name:</label> <input
			type="text" class="form-control mb-2 mr-sm-2" id="pwd2"
			placeholder="Enter Name">
		<button type="button" class="btn btn-primary mb-2">Search</button>
	</form>
</div>
<div class="table-responsive ">
	<table class="table table-sm">
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>EMAIL</th>			
			<th>PASSWORD</th>				
			<th>ROLE</th>				
		</tr>
		{{#users}}
		<tr>
			<td>{{id}}</td>
			<td>{{name}}</td>
			<td>{{email}}</td>		
			<td>{{password}}</td>							
			<td>{{role}}</td>							
		</tr>
		{{/users}}
	</table>
</div>

<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		{{#user.firstPage}}
		<li class="page-item disabled">{{/user.firstPage}}
			{{^user.firstPage}}
		<li class="page-item">{{/user.firstPage}}
      <a class="page-link" href="{{user.previousUrl}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>			
		</li> {{#user.urls}}
		<li class="page-item"><a class="page-link" href="{{url}}">{{num}}</a></li>
		{{/user.urls}} {{#user.lastPage}}
		<li class="page-item disabled">{{/user.lastPage}}
			{{^user.lastPage}}
		<li class="page-item">{{/user.lastPage}}
		      <a class="page-link" href="{{user.nextUrl}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
		</li>
	</ul>
</nav>
{{/layout}}
